body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

header {
    background: linear-gradient(45deg, #00428A, #0063B2) !important;
}